<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="credentialStorage" type="Scheduler.Core.Configuration.CredentialsConfiguration, Scheduler.Core" />
    <section name="jobSettings" type="Scheduler.Core.Configuration.JobsConfiguration, Scheduler.Core" />
  </configSections>
  <credentialStorage>
    <credentials>
      <credential 
        id="api" 
        type="jwt" 
        username="[USERNAME]" 
        password="[PASSWORD]" 
        endpoint="[TOKEN_ENDPOINT]"
        responseType="Scheduler.Core.Communication.AuthorizationResponse, Scheduler.Core"
        responseTokenPayload="Token"
        />
    </credentials>
  </credentialStorage>
  <jobSettings>
    <jobs>
      <job name="SuggestedNews" expression="0 0/1 * 1/1 * ? *" credentials="api" endpoint="[JOB_ENDPOINT]" />
    </jobs>
  </jobSettings>
</configuration>